h1.header {
    font-size: 60px;
    color: rgb(8, 1, 1);
    font-weight: 500;
}

p.descript {
    font-size: 4vh;
    font-weight: 400;
}

.project-container1 a {
    text-decoration: none;
    overflow-x: hidden;
}

@media screen and (max-width: 500px) {
    h1.header {
        font-size: 45px;
        color: rgb(8, 1, 1);
        font-weight: 500;
    }

    p.descript {
        font-size: 20px;
        font-weight: 400;
    }
}