@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Karla:ital,wght@0,200..800;1,200..800&display=swap');

/* body {
    box-sizing: border-box;
    background-color: rgb(245, 238, 226);
    padding: 0px;
    margin: 0px;
    font-family: Karla, sans-serif;
} */